@font-face {
  font-family: Sonsie One;
  src: url(../assets/fonts/SonsieOne-Regular.ttf);
}

@font-face {
  font-family: MPLUS2;
  src: url(../assets/fonts/M-plus-2/MPLUS2-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: MPLUS2;
  src: url(../assets/fonts/M-plus-2/MPLUS2-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: MPLUS2;
  src: url(../assets/fonts/M-plus-2/MPLUS2-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: MPLUS2;
  src: url(../assets/fonts/M-plus-2/MPLUS2-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: MPLUS2;
  src: url(../assets/fonts/M-plus-2/MPLUS2-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: MPLUS2;
  src: url(../assets/fonts/M-plus-2/MPLUS2-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: MPLUS2;
  src: url(../assets/fonts/M-plus-2/MPLUS2-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: MPLUS2;
  src: url(../assets/fonts/M-plus-2/MPLUS2-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: MPLUS2;
  src: url(../assets/fonts/M-plus-2/MPLUS2-Thin.ttf);
  font-weight: 100;
}
